@import models.pessoa.funcionario.Funcionario
@(listaFuncionarios: List[Funcionario])

@main("Lista Telefônica | SIC"){

  <div class="row">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a href="#">Telefones</a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"></a></li>
        </ul>
    
      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="has-form">
            <div class="row collapse">
              <div class="large-9 small-9 columns">
                <input type="text" placeholder="Procurar Funcionário" style="height: auto !important;padding-top: .35rem !important;padding-bottom: .35rem !important;">
              </div>
              <div class="large-3 small-3 columns">
                <a href="#" class="button expand">Buscar</a>
              </div>
            </div>
          </li>
        </ul>

      </section>
    </nav>
  </div>
  
  <div class="row">
    <dl class="tabs vertical" data-tab>
      <dd><a href="#panel1a">DETI - 1234</a></dd>
      <dd><a href="#panel2a">DECOC - 1234</a></dd>
    </dl>
    <div class="tabs-content vertical">
      <div class="content" id="panel1a">
        <div class="row" align="center">
          <br>
          <table>
            <thead>
              <th width="200">Departamento</th>
              <th width="400">Nome</th>
              <th width="100">Ramal</th>
            </thead>

            <tbody>
              <tr>
                <td>DETI</td>
                <td>Matheus Souza Fernandes</td>
                <td>111</td>
              </tr>
              <tr>
                <td>DETI</td>
                <td>Matheus Souza Fernandes</td>
                <td>111</td>
              </tr>
              <tr>
                <td>DETI</td>
                <td>Matheus Souza Fernandes</td>
                <td>111</td>
              </tr>
              <tr>
                <td>DETI</td>
                <td>Matheus Souza Fernandes</td>
                <td>111</td>
              </tr> 
            </tbody>

          </table>
        </div>
      </div>
      <div class="content" id="panel2a">
        <p>Panel 2.</p>
      </div>

    </div>
  </div>

}