@import models.pessoa.funcionario.Funcionario
@import models.pessoa.funcionario.Departamento
@(departamentos: List[Departamento], funcionarios: List[List[Funcionario]])

@main("Lista Telefônica | SIC"){

  <div class="row">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a href="#">Telefones</a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"></a></li>
        </ul>
    
      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li class="has-form">
            <div class="row collapse">
              <div class="large-9 small-9 columns">
                <input type="text" placeholder="Procurar Funcionário" style="height: auto !important;padding-top: .35rem !important;padding-bottom: .35rem !important;">
              </div>
              <div class="large-3 small-3 columns">
                <a href="#" class="button expand">Buscar</a>
              </div>
            </div>
          </li>
        </ul>

      </section>
    </nav>
  </div>
  
  <div class="row">
    <dl class="tabs vertical" data-tab>
      @for(departamento <- departamentos){
        <dd><a href="#departamento@departamento.getId()">@departamento.getAbreviacao() - @departamento.getRamal()</a></dd>
      }
    </dl>
    <div class="tabs-content vertical">
      @for(departamentos <- funcionarios){
      <div class="content" id="departamento@(funcionarios.indexOf(departamentos)+1)">
        <div class="row" align="center">
          <br>
          <table>
            <thead>
              <th width="200">Departamento</th>
              <th width="400">Nome</th>
              <th width="100">Ramal</th>
            </thead>

            <tbody>
              @for(funcionario <- departamentos){
                <tr>
                  <td>@funcionario.getDepartamento().getAbreviacao()</td>
                  <td>@funcionario.getPessoa()</td>
                  <td>@funcionario.getRamal()</td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
      }

    </div>
  </div>

}