@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="pt-br" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@title - Sistema Integrado CIAS</title>
        <link rel="stylesheet" media="screen"
          href="@routes.Assets.at("foundation/css/foundation.css")">

    </head>
    <body>
      @topbar()
      <br>
      <div class="row">
        <div class="large-12" align="center">
          <img src="@routes.Assets.at("images/gdf-logo.png")" alt="Logo GDF"
            width="12%" align="left">

          <div align="right">
            <br><h2><b>Fábrica Social</b></h2>
            <h4>Centro de Capacitação Profissional - CIAS</h4>
          </div><br>
          <hr />
        </div>
      </div>

      @content
      <div id="modal_erro" class="reveal-modal small" data-reveal>
        <h2>Ops...</h2>
        <p class="lead">Alguma coisa aconteceu!</p>
        <p><b></b></p>
        <a class="close-reveal-modal">&#215;</a>
      </div>

      <div id="modal-sucesso" class="reveal-modal small" data-reveal>
        <h2>Sucesso!!</h2>
        <p class="lead">Operação realizada com sucesso!</p>
        <p><b></b></p>
        <a class="close-reveal-modal">&#215;</a>
      </div>

      @alterarsenha()

      <script type="text/javascript"
        src="@routes.Assets.at("foundation/js/vendor/modernizr.js")"></script>
      <script type="text/javascript"
        src="@routes.Assets.at("foundation/js/vendor/jquery.js")"></script>
      <script type="text/javascript"
        src="@routes.Assets.at("foundation/js/foundation.min.js")"></script>

      <script type="text/javascript">
        $(document).foundation();
      </script>
  </body>
</html>
