<div class=" sticky">
  <nav class="top-bar" data-topbar data-options="sticky_on: large">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">Sistema Integrado CIAS</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>
    @if(session().get("conectado")) {
      <section class="top-bar-section">
        <ul class="right">
          <li class="has-dropdown">
            <a href="">@session().get("conectado")</a>
            <ul class="dropdown">
              <li><a href="/atualizar/senha" data-revea-lid="modal_alterar_senha">Alterar Senha</a></li>
            </ul>
          </li>

          <li class="divider"></li>

          <li class="active">
            <a href="/sair">Sair</a>
          </li>
        </ul>
      </section>
    }
  </nav>
</div>
